body {
    margin: 0;
    background-color: #1d1919;
}

header nav {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header nav a {
    height: auto;
    width: auto;
    font-size: 25px;
    margin: 20px 0px; 
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    
}

header nav a:hover {
    border-bottom: 1px solid white;
}



header nav #buttons {
    display: flex;
    gap: 55px;
}

#text {
    color: white;
    position: absolute;
    left: 5%;
}

#content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    gap: 40px;
    margin: 50px auto;
    max-width: 800px;
}

.contentImg {
    width: 200px;
    height: 300px;
}

.text {
    color: white;
    width: 200px;
    text-align: justify;
    font-size: 1rem;
}

.wrapper {
    color: white;
    text-align: center;
}

.menuTitle {
    color: white;
    grid-column: 1 / -1;
}

.menuItem {
    color: white;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 20px;
}